<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <!-- nav bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Company Name</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if action_name == 'index' %>"><a  href="/home/index">Home</a></li>
        <!--<li class="<%= 'active' if action_name == 'about' %>"><a  href="/home/about">About</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li class=""><a style="color:mediumseagreen" href="/expenses/index">Account</a></li>
          <li>
            <a href="#">Welcome: <%= current_user.email %></a>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
          <li>
            <%= link_to('Sign up!', new_user_registration_path)  %>
          </li>
        <% end %>


        <!--<li><a href="">logged in as: <%= session[:username] %></a></li>-->
      </ul>
    </div>
  </nav>


  <!--<p class="notice"><%= notice %></p>-->
  <!--<p class="alert"><%= alert %></p>-->
  <div class="container">
    <% if !flash[:notice].blank? %>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> <%= flash[:notice] %>
      </div>
    <% end %>

    <% if !flash[:alert].blank? %>
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> <%= flash[:alert] %>
      </div>
    <% end %>
  </div>


  <body>
  <!-- before yield -->
  <div class="container">
    <%= yield %>
  </div>
  <!-- after yield -->
  </body>

</html>
